.edit-form {
    margin-top: 50px;
    width: 450px;
}

.btn__container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.form-control[readonly] {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}

.form-control[readonly]:focus {
    outline: none;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.form-control.col-1 {
    width: 20% !important;
    margin-left: 10px;
}